<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments/head :: head(title='Авторизация')"></head>

<body>

<header th:replace="fragments/header :: header"></header>

<section class="main_content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content clearfix">

                    <div th:if="${error != null}" class="error" th:text="${error}"></div>

                    <div class="auth_forms auth_page">
                        <form action="/login" method="POST">
                            <h3>Вход</h3>
                            <input type="email" name="email" placeholder="E-mail" required="required" />
                            <br />
                            <input type="password" name="password" placeholder="Пароль" required="required" />
                            <br />
                            <button type="submit" name="do_login" class="button">Войти</button>

                            <a href="#" class="link-forgot">Забыли пароль?</a>
                        </form>
                        <p>
                            НЕТ АККАУНТА НА САЙТЕ?<br />
                            <a href="/registration">Зарегистрироваться</a>
                        </p>
                        <hr />
                        <div class="soc_buttons">
                            Через соц. сеть:
                            <a href="#">
                                <i class="fa fa-vk" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="fragments/footer :: footer"></footer>

<div class="upstairs">
    <a href="#header"><i class="fa fa-angle-up"></i></a>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="/libs/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="/js/common.js"></script>
</body>
</html>

