<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="footer_inf">© Book, Inc. All rights reserved</div>
            </div>
            <div class="col-md-6">
                <div class="footer_soc">
                    <a href="#"><i class="fa fa-vk"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>